@import url('https://fonts.googleapis.com/css?family=Amiko|Lora');

a{
  text-decoration: none;

}


body{/*blue forest by josh152 on flickr */
  background-image: url('https://c1.staticflickr.com/5/4080/4784743385_497ce25e1c_b.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  font-family: 'Lora', serif;
  font-size: 15pt;
}
article{
  background-color: black;
  color: white;
  width: 400px;
  margin-left: 3em

}

span{
  color: red;
}
.click{
  position: absolute;
  cursor: pointer;

}
p{
  padding: 10px;
  word-spacing: 7pt
}
